@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Fraunces;
  src: url('../dist/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

@font-face {
  font-family: manrope;
  src: url('../dist/assets/fonts/manrope/Manrope-VariableFont_wght.ttf');
}

.header-bottom {
  width: 100%;
}
